apiVersion: v1
kind: Pod
metadata:
  name: {{ .Name }}-{{ .UniqueId }}
  labels:
    app: {{ .Name }}
    appUnique: {{ .Name }}-{{ .UniqueId }}
spec:
  terminationGracePeriodSeconds: 10
  securityContext:
    runAsUser: {{ .Container.UID }}
    fsGroup: {{ .Container.GID }}
  containers:
  - image: {{ .Container.Image }}
    args: [{{ .Container.Arguments }}]
    imagePullPolicy: IfNotPresent
    resources:
      requests:
        memory: {{ .Container.ResourceRequest.Memory }}
      limits:
        memory: {{ .Container.ResourceLimit.Memory }}
    name: {{ .Name }}
  